<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.HTGKCordovaKit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>HTGKCordovaKit</name>
    <description>
        A basic cordova library was create by Forever High Tech Ltd. company.
        It use wkwebview as the basic webViewEngine.
    </description>
    <author email="dev@cordova.apache.org" href="https://github.com/YUJINHAI2015/HTGKCordovaKit">
        Forever High Tech Ltd.
    </author>

    <!--    框架默认的基础功能  注释开始-->
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="Contacts">
        <param name="ios-package" value="CDVContacts" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="Accelerometer">
        <param name="ios-package" value="CDVAccelerometer" />
    </feature>
    <feature name="Compass">
        <param name="ios-package" value="CDVCompass" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
    </feature>
    <feature name="Location">
        <param name="ios-package" value="CDVLocation" />
    </feature>
    <feature name="Globalization">
        <param name="ios-package" value="CDVGlobalization" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <feature name="Reachability">
        <param name="ios-package" value="CDVReachability" />
    </feature>
    <feature name="Vibration">
        <param name="ios-package" value="CDVVibration" />
    </feature>
    <feature name="Media">
        <param name="ios-package" value="CDVSound" />
    </feature>
    <feature name="Battery">
        <param name="ios-package" value="CDVBattery" />
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>

    
    <!--    框架默认的基础功能  注释结束-->

    
    <!--  请添加您需要的功能  注释开始-->
    <feature name="BigMember_User">
        <param name="ios-package" value="BigMemberUserClassName" />
    </feature>
    <feature name="BigMember_WebView">
        <param name="ios-package" value="BigMemberWebViewClassName" />
    </feature>
    <feature name="BigMember_Jump">
        <param name="ios-package" value="BigMemberJumpClassName" />
    </feature>

    <!--  请添加您需要的功能  注释结束-->

    
    <!--    默认打开文件 注释开始-->
<!--    <content src="indexGetToken.html" />-->
    <!--    默认打开文件 注释结束-->
    
    <!--    允许在app内打开链接 注释开始-->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <!--    允许在app内打开链接 注释结束-->
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    
    <!-- iOS9.0 及以上使用wkwebView-->
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
</widget>
